<ion-view title="Evaluations">

	<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon" style="color:#fff;"></button>
  </ion-nav-buttons>
    
	<ion-content>
    	
    	<ion-list>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('#', '_blank', 'location=yes'); return false;">
				<h2>UBA Boot Camp</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('#', '_blank', 'location=yes'); return false;">
				<h2>Health Care Provider Vertical</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('#', '_blank', 'location=yes'); return false;">
				<h2>DataSmart Vertical</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('#', '_blank', 'location=yes'); return false;">
				<h2>PowerPaks</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('#', '_blank', 'location=yes'); return false;">
				<h2>Principals’ Business Meeting</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('#', '_blank', 'location=yes'); return false;">
				<h2>Cocktail Party and Networking</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('#', '_blank', 'location=yes'); return false;">
				<h2>Benefits Passport User Forum</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('#', '_blank', 'location=yes'); return false;">
				<h2>General Session w/Kelly McDonald</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('#', '_blank', 'location=yes'); return false;">
				<h2>General Track: HealthSmart</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('#', '_blank', 'location=yes'); return false;">
				<h2>Account Manager Track: Winning Q4 Strategies</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('#', '_blank', 'location=yes'); return false;">
				<h2>Producer Track: Shift Your Thinking</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('#', '_blank', 'location=yes'); return false;">
				<h2>Principal Track: Wellness As a Profit Center</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('#', '_blank', 'location=yes'); return false;">
				<h2>Dine with Danielle</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('#', '_blank', 'location=yes'); return false;">
				<h2>Andrew Sykes – Health At Work</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('#', '_blank', 'location=yes'); return false;">
				<h2>Wellness Partner Panel</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('#', '_blank', 'location=yes'); return false;">
				<h2>General Track: Jellyvision</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('#', '_blank', 'location=yes'); return false;">
				<h2>Account Manager Track: Staff Roundtables</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('#', '_blank', 'location=yes'); return false;">
				<h2>Producer Roundtable</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('#', '_blank', 'location=yes'); return false;">
				<h2>Perpetuation Panel</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('#', '_blank', 'location=yes'); return false;">
				<h2>General Session w/ Dr. Steven Aldana</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('#', '_blank', 'location=yes'); return false;">
				<h2>UBA Tools</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('#', '_blank', 'location=yes'); return false;">
				<h2>Wellsteps</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('#', '_blank', 'location=yes'); return false;">
				<h2>Cutting Costs with Teladoc</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('#', '_blank', 'location=yes'); return false;">
				<h2>Perpetuation Roundtable</h2>
			</ion-item>
		</ion-list>
    	
  	</ion-content>
  	
</ion-view>
