<ion-view title="Evaluations">

	<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon" style="color:#fff;"></button>
  </ion-nav-buttons>
    
	<ion-content>
    	
    	<ion-list>
    		<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('https://www.surveymonkey.com/s/2015SpringFacilities', '_blank', 'location=yes'); return false;">
				<h2>Meeting Facilities</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('https://www.surveymonkey.com/s/2015SpringUBABootCamp', '_blank', 'location=yes'); return false;">
				<h2>UBA Boot Camp</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('https://www.surveymonkey.com/s/2015SpringHealthCareProviderVertical', '_blank', 'location=yes'); return false;">
				<h2>Health Care Provider Vertical</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('https://www.surveymonkey.com/s/2015SpringPopulationHealthStrategy', '_blank', 'location=yes'); return false;">
				<h2>Population Health Strategy</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('https://www.surveymonkey.com/s/2015SpringPowerPaks', '_blank', 'location=yes'); return false;">
				<h2>PowerPaks</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('https://www.surveymonkey.com/s/2015SpringPrincipalsBusinessMeeting', '_blank', 'location=yes'); return false;">
				<h2>Principals’ Business Meeting</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('https://www.surveymonkey.com/s/2015SpringWelcomeReception', '_blank', 'location=yes'); return false;">
				<h2>Welcome Reception</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('https://www.surveymonkey.com/s/2015SpringBenefitsPassportUserForum', '_blank', 'location=yes'); return false;">
				<h2>Benefits Passport User Forum</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('https://www.surveymonkey.com/s/Spring2015ChangingDemographicsHowthisAffectsYourBusinessTodayTomorrow', '_blank', 'location=yes'); return false;">
				<h2>Changing Demographics and How this Affects Your Business, Today and Tomorrow</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('https://www.surveymonkey.com/s/2015SpringWinningQ4Strategies', '_blank', 'location=yes'); return false;">
				<h2>Winning Q4 Strategies</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('https://www.surveymonkey.com/s/2015SpringOpportunitiesStrategiesPricingTransparency', '_blank', 'location=yes'); return false;">
				<h2>HealthSmart: Opportunities &amp; Strategies in Pricing Transparency</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('https://www.surveymonkey.com/s/2015SpringShiftYourThinking', '_blank', 'location=yes'); return false;">
				<h2>Shift Your Thinking</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('https://www.surveymonkey.com/s/2015SpringWellnessProfitCenter', '_blank', 'location=yes'); return false;">
				<h2>Wellness As a Profit Center</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('https://www.surveymonkey.com/s/2015SpringDineDanielle', '_blank', 'location=yes'); return false;">
				<h2>Dine with Danielle</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('https://www.surveymonkey.com/s/2015SpringLivesLivedWell', '_blank', 'location=yes'); return false;">
				<h2>Lives Lived Well</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('https://www.surveymonkey.com/s/2015SpringPartnerWellnessPanel', '_blank', 'location=yes'); return false;">
				<h2>Partner Wellness Panel</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('https://www.surveymonkey.com/s/2015SpringWhatDoesItReallyTakeToMotivateEmployeesToAdoptHealthyHabits', '_blank', 'location=yes'); return false;">
				<h2>What Does It Really Take To Motivate Employees To Adopt Healthy Habits?</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('https://www.surveymonkey.com/s/Spring2015StaffRoundTablesFall2014', '_blank', 'location=yes'); return false;">
				<h2>Staff Roundtables</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('https://www.surveymonkey.com/s/2015SpringProducerRoundtable', '_blank', 'location=yes'); return false;">
				<h2>Producer Roundtable</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('https://www.surveymonkey.com/s/2015SpringUBAConitinuityInternalPerpetuationPanel', '_blank', 'location=yes'); return false;">
				<h2>UBA Continuity / Internal Perpetuation Panel</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('https://www.surveymonkey.com/s/2015SpringHowBrokersHelpEmployersWinWithWellness', '_blank', 'location=yes'); return false;">
				<h2>How Brokers Help Employers Win with Wellness</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('https://www.surveymonkey.com/s/2015SpringUsingUBATools', '_blank', 'location=yes'); return false;">
				<h2>Using UBA Tools</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('https://www.surveymonkey.com/s/2015SpringCreatingEffectiveWellnessProgram', '_blank', 'location=yes'); return false;">
				<h2>Creating an Effective Wellness Program</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('https://www.surveymonkey.com/s/2015SpringWinningMoreBusinesswithTeladoc', '_blank', 'location=yes'); return false;">
				<h2>Winning More Business with Teladoc</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('https://www.surveymonkey.com/s/2015SpringPerpetuationRountTable', '_blank', 'location=yes'); return false;">
				<h2>Perpetuation Round Table</h2>
			</ion-item>
		</ion-list>
    	
  	</ion-content>
  	
</ion-view>
