<ion-view title="Information">
	<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon" style="color:#fff;"></button>
  </ion-nav-buttons>
	<ion-content class="padding">
    	<img src="http://wn4.ubabenefits.com/portals/0/Images/Meetings/MtglogoSpring2014.png" style="width:80%; height:auto; max-width:500px;"/>
    	<p>
    		Dear UBA Partners:
    	</p>
    	<p>
    		Welcome to the 2015 Spring Meeting &amp; Expo of United Benefit Advisors (UBA) held at the Loews Chicago O’Hare Hotel. This event is designed to make you and your business more successful and it promises to deliver the latest insights in the benefits industry so that you can provide the best, most knowledgeable service to your clients.
    	</p>
    	<p>
    		“Well-being” is the theme for this meeting, offering a variety of presentations and forums on outcomes-focused programs that promote wellness and care management, using wellness as a profit center, health care administration, communications, employee health care assistance, and more.
    	</p>
    	<p>
    		Our agenda addresses the objectives expressed by the Meetings Committee, chaired by Lauren Yurick, and by the UBA Board of Directors. We encourage you to participate fully and to reap the benefits of UBA’s philosophy of shared wisdom, powerful results®, especially the networking opportunities, PowerPak sessions and roundtables. Based on feedback from a survey conducted last year, a new meeting format has been implemented.
    	</p>
    	<ul>
    		<li>A new “UBA Boot Camp” session has been added to Sunday morning where Partners and UBA staff will give presentations and conduct roundtable discussions on surveys, technology, compliance, marketing, and products, tools, and services. This is a more robust format geared not only to first-time attendees, but also to those wanting a refresher course on all that UBA has to offer.</li>
    		<li>Special interest group meetings such as the health care provider vertical, DataSmart vertical, etc. as well as PowerPaks and regional meetings will also take place on Sunday.</li>
    		<li>A welcome reception/cocktail party on Sunday evening on the show floor will feature more than 25 exhibitors displaying their latest products and services. You can relax and enjoy as you mix and mingle with attendees.</li>
    		<li>Keynote Speaker Kelly McDonald – a marketing and advertising expert who is considered one of the nation's top authorities in multicultural marketing and consumer trends – will open the meeting on Monday morning.</li>
    		<li>There will be special tracks for Principals, Producers, and Account Managers as well as perpetuation and succession planning sessions on both Monday and Tuesday.</li>
    		<li>The annual “UBBIE” Awards will be presented on Monday.</li>
    	</ul>
    	<p>
    		In between, there will be ample free time to network with other UBA Partners, Strategic Partners and guest speakers. In addition, you may reserve dinner time together on Monday evening at several area restaurants, where you may socialize and share experiences/war stories with new faces and familiar colleagues.
    	</p>
    	<p>
    		Our sincere hope is that the 2015 UBA Spring Meeting & Expo is not only a critical resource that will help you maximize success now and in the future, but also an enjoyable endeavor for you and that you find these few days at the Loews Chicago O'Hare Hotel worthwhile. Thank you for joining us!
    	</p>
    	<p>
    		Sincerely,
    	</p>
    	<p>&nbsp;</p>
    	<p>Les McPhearson, CEO<br>United Benefit Advisors</p>
	</ion-content>
</ion-view>
