<ion-view title="Presentations">

	<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon" style="color:#fff;"></button>
  </ion-nav-buttons>
	
	<ion-content>
	
		
    	
    	<ion-list>
    		<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('https://uba-videos.s3.amazonaws.com/uba-app/2015/Spring/Presentations/changing-demographics-the-impact-on-your-business-today-tomorrow.pdf', '_blank', 'location=yes'); return false;">
				<h2>Changing Demographics &amp; the Impact on Your Business Today &amp; Tomorrow</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('https://uba-videos.s3.amazonaws.com/uba-app/2015/Spring/Presentations/4th-quarter-strategy-brio.pdf', '_blank', 'location=yes'); return false;">
				<h2>Winning Q4 Strategies</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('https://uba-videos.s3.amazonaws.com/uba-app/2015/Spring/Presentations/wellness-as-a-profit-center.pdf', '_blank', 'location=yes'); return false;">
				<h2>Wellness As a Profit Center</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('https://uba-videos.s3.amazonaws.com/uba-app/2015/Spring/Presentations/opportunities-and-strategies-in-pricing-transparency.pdf', '_blank', 'location=yes'); return false;">
				<h2>Opportunities and Strategies in Pricing Transparency</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('https://uba-videos.s3.amazonaws.com/uba-app/2015/Spring/Presentations/partner-panel-wellness-services.pdf', '_blank', 'location=yes'); return false;">
				<h2>Wellness Partner Panel</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('https://uba-videos.s3.amazonaws.com/uba-app/2015/Spring/Presentations/shift-thinking.pdf', '_blank', 'location=yes'); return false;">
				<h2>Shift Your Thinking</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('https://uba-videos.s3.amazonaws.com/uba-app/2015/Spring/Presentations/how-brokers-help-employers-win-with-wellness.pdf', '_blank', 'location=yes'); return false;">
				<h2>How Brokers Help Employers Win With Wellness</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('https://uba-videos.s3.amazonaws.com/uba-app/2015/Spring/Presentations/wellsteps.pdf', '_blank', 'location=yes'); return false;">
				<h2>Wellsteps</h2>
			</ion-item>
			<ion-item class="item" type="item-text-wrap" href="#" onclick="window.open('#', '_blank', 'location=yes'); return false;">
				<h2>More Presentations to Come...</h2>
			</ion-item>
	    </ion-list>
    	
  	</ion-content>
  	
</ion-view>
